<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>
 </head>
 <body>

  <!--Контейнер, в котором будет отображаться платежная форма-->
  <div id="payment-form"></div>

  <script>
  //Инициализация виджета. Все параметры обязательные.
  const checkout = new window.YooMoneyCheckoutWidget({
      confirmation_token: '{{ confirmation_token }}',
      return_url: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ', //Ссылка на страницу завершения оплаты.
      error_callback: function(error) {
          console.log(error)
      }
  });

  //Отображение платежной формы в контейнере
  checkout.render('payment-form');
  </script>
 </body>
</html>
