.DS_Store
Site/.idea/
sloy-order/build/*
sloy-order/.idea/
Telegram bot/New order webapp/.idea
Telegram bot/Show orders webapp/.idea
Telegram bot/Bot/.env
Telegram bot/Bot/.idea
Telegram bot/Bot/.venv
Telegram bot/Bot/Config/__pycache__/
Telegram bot/Bot/Handlers/__pycache__/
Telegram bot/Bot/Lexicon/__pycache__/
Telegram bot/Bot/Tools/__pycache__/