@font-face {
    font-family: Mulish;
    font-style: normal;
    src: url("../Mulish/Mulish.ttf"), url("../Mulish/Mulish italic.ttf");
}

body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}

button, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 20px 16px;
}

.shopping_cart {
    margin: 76px 0 20px;
}

.order_cost {
    font-style: italic;
    width: fit-content;
    margin-left: auto;
}

.shopping_cart_add_remove_figure {
    height: 28px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C4A283;
    border-radius: 30px;
    margin-bottom: 8px;
}

.shopping_cart_minus_btn {
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    background-color: #C4A283;
    color: #F6F6F6;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin-right: 4px;
}

.shopping_cart_plus_btn {
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    background-color: #C4A283;
    color: #F6F6F6;
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin-left: 4px;
}

.shopping_cart_item_label {
    color: #F6F6F6;
}

.checkout_btn:disabled {
    font-family: "Mulish", sans-serif;
    background-color: rgba(37, 37, 37, 0.88);
}

.shopping_cart_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-row-gap: 16px;
    grid-column-gap: 32px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.shopping_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.shopping_item_img {
    width: 48px;
    height: 48px;
}

.shopping_cart_item_name {
    width: 100%;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

.buttons_and_cost_wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty_shopping_cart_label {
    margin-top: 76px;
    width: 100%;
    text-align: center;
    color: #686868;
}

.order_comment_and_free_time_wrapper {
    margin-top: 20px;
    display: grid;
    grid-column-gap: 32px;
}

.free_time_wrapper {
    animation-delay: 0.4s !important;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(68px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 12px;
}

.free_time_button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none;
}

.free_time_label {
    line-height: 32px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    border-radius: 20px;
    border: none;
    background-color: #F6F6F6;
    color: #1C1C1C;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.order_comment_div {
    animation-delay: 0.2s !important;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.order_comment {
    width: 100%;
    outline: none;
    resize: none;
    color: #1C1C1C;
    padding: 16px;
    border-radius: 20px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    border: #E5E5E5 solid 1px;
    margin-bottom: 20px;
}
