@font-face {
    font-family: Mulish;
    font-style: normal;
    src: url("../Mulish/Mulish-Regular.ttf");
}

@font-face {
    font-family: Mulish-Italic;
    font-style: normal;
    src: url("../Mulish/Mulish-Italic.ttf");
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--perfect-black);
    font-family: "Mulish", sans-serif;
    font-size: 16px;
}

button, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 20px 16px;
}

.shopping_cart {
    margin: 76px 0 20px;
}

.order_cost {
    font-family: Mulish-Italic, sans-serif;
    width: fit-content;
    margin-left: auto;
}

.shopping_cart_add_remove_figure {
    height: 30px;
    width: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--coffee-color);
    border-radius: 30px;
    margin-bottom: 8px;
}

.shopping_cart_minus_btn {
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    background-color: var(--coffee-color);
    color: var(--light-grey);
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin-right: 4px;
}

.shopping_cart_plus_btn {
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    background-color: var(--coffee-color);
    color: var(--light-grey);
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin-left: 4px;
}

.shopping_cart_item_label {
    color: var(--light-grey);
}

.shopping_cart_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-row-gap: 16px;
    grid-column-gap: 32px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.shopping_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.shopping_item_img {
    width: 48px;
    height: 48px;
}

.shopping_cart_item_name {
    width: 100%;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

.buttons_and_cost_wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty_shopping_cart_label {
    margin-top: 76px;
    width: 100%;
    text-align: center;
    color: var(--dark-grey);
}

.order_comment_and_free_time_wrapper {
    margin-top: 20px;
    display: grid;
    grid-column-gap: 32px;
}

.free_time_wrapper {
    border: 1px solid var(--grey-white);
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(68px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 12px;
    scroll-margin-block-start: 77px;
}

.free_time_button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none;
}

.free_time_label {
    line-height: 32px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    border-radius: 20px;
    border: none;
    background-color: var(--light-grey);
    color: var(--perfect-black);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.order_comment_div {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.order_comment {
    width: 100%;
    outline: none;
    resize: none;
    color: var(--perfect-black);
    padding: 16px;
    border-radius: 20px;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    border: var(--grey-white) solid 1px;
    margin-bottom: 20px;
}
