@media (min-width: 334px) {
    .order_comment_and_free_time_wrapper {
        grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    }
}

@media (min-width: 360px) {
    .shopping_cart_item_name {
        text-align: left;
    }
}

@media (min-width: 600px) {
    .choose_time_btn_div, .checkout_btn {
        width: 360px;
    }

    .internal_wrapper {
        margin: 16px;
    }

    .container {
        margin: 20px 32px;
    }

    .items {
        grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
    }

    .free_time_label {
        line-height: 30px;
        max-height: 30px;
    }

    .free_time_wrapper {
        grid-column-gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(74px, 1fr));
    }

    .category_link, .order_comment, .free_time_wrapper, .item {
        border-radius: 22px;
    }

    .bottom_container_margin {
        margin-bottom: 104px;
    }
}

@media (min-width: 700px) {
    .container {
        margin: 32px;
    }

    .items, .shopping_cart {
        margin: 88px 0;
    }

    .order_comment {
        margin: 0;
    }

    .order_comment_and_free_time_wrapper {
        margin-top: 32px;
    }

    .bottom_container_margin {
        margin-bottom: 104px;
    }
}

@media (min-width: 1280px) {
    .container {
        margin: 32px 60px;
    }

    .choose_time_btn_div, .checkout_btn {
        width: 400px;
    }

    .category_link {
        border-radius: 24px;
        padding: 12px;
    }

    .category_image {
        margin-top: 0;
    }

    .items {
        margin: 88px 0;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .shopping_cart {
        margin-top: 88px;
        margin-bottom: 32px;
    }

    .shopping_cart_items {
        grid-column-gap: 60px;
    }

    .order_comment_and_free_time_wrapper {
        grid-column-gap: 60px;
    }

    .order_comment, .free_time_wrapper, .item {
        border-radius: 24px;
    }

    .bottom_container_margin {
        margin-bottom: 104px;
    }
}
