@media (min-width: 600px) {
    .choose_time_btn_div {
        width: 360px;
    }

    .category_link {
        border-radius: 22px;
    }

    .internal_wrapper {
        margin: 16px;
    }

    .items {
        grid-template-columns: repeat(auto-fit, minmax(168px, 1fr));
    }
}

@media (min-width: 700px) {
    .container {
        margin: 32px 32px;
    }

    .bottom_container_margin {
        margin-bottom: 116px;
    }

    .items {
        margin: 88px 32px;
    }
}

@media (min-width: 1280px) {
    .container {
        margin: 32px 60px;
    }

    .choose_time_btn_div {
        width: 400px;
    }

    .items {
        margin: 88px 60px;
    }

    .category_link {
        border-radius: 24px;
    }

    .items {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .category_link {
        padding: 12px;
    }

    .category_image {
        margin-top: 0;
    }

    body {
        font-size: 15px;
    }

    .header_label {
        font-size: 15px;
    }

    .btn_add, .btn_minus, .btn_plus {
        font-size: 15px;
    }

    .item_cost {
        font-size: 16px;
    }

    .choose_time_btn {
        font-size: 17px;
    }
}
