:root {
    --perfect-black: #1C1C1C;
    --coffee-color: #C4A283;
    --black-88: rgba(0, 0, 0, 0.88);
    --grey-88: rgba(37, 37, 37, 0.88);
    --dark-grey: #686868;
    --middle-grey: #B8B8B8;
    --light-grey: #F6F6F6;
    --grey-white: #E5E5E5;
    --background: #ffffff;
}